{% extends 'base.html.twig' %}



{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	.btn:hover {
		background-color: lightgray;
		color: #0d6efd;
	}
	

</style>

<div class="example-wrapper">
	<form method="post" action="{{ path('home') }}" id="marcheForm">
	  	<h3 >Quelle extension voulez vous inclure dans votre marché ? </h3>
  		<div class="row row-cols-4 m-3">
		
			{% for ext in [ 'Base','Guerre Eternelle (W)','ere nouvelle (EN)','les paria (LP)','rêves brisés (RB)','de vieux souvenirs (DVS)','Le Vide (V)','Les Sans-Nom (N)','Secrets Enfouis (SE)','ere nouvelle (P)',"Ténèbres d'ailleurs"] %}
				<div class="col mb-3">
					<input type="checkbox" class="btn-check" id="{{ ext }}" name="extensions[]" value="{{ ext }}" checked>
					<label class="btn btn-outline-primary" for="{{ ext }}">{{ ext }}</label>
				</div>
			{% endfor %}
		</div> 
		{# marche 0 #}
		<div class="row row-cols-7 pt-3">
			<div class="col"><button type="submit" name="marche" value="marche0" class="btn btn-outline-primary ">aléatoire
				<div class="row row-cols-3"> 
					<div class="col text-muted"> A </div> 
					<div class="col text-muted"> A </div>	
					<div class="col text-muted"> A </div> 

					<div class="col text-primary"> A </div>
					<div class="col text-primary"> A </div>
					<div class="col text-warning"> A </div>

					<div class="col text-warning"> A </div>
					<div class="col text-warning"> A </div>
					<div class="col text-warning"> A </div>
				</div>			
			</button></div>

		{# marche 1 #}
			<div class="col"><button type="submit" name="marche" value="marche1" class="btn btn-outline-primary">marché 1
				<div class="row row-cols-3"> 
					<div class="col text-muted"> <3 </div> 
					<div class="col text-muted"> 4< </div>	
					<div class="col text-muted"> A </div> 

					<div class="col text-primary"> A </div>
					<div class="col text-primary"> A </div>
					<div class="col text-warning"> <5 </div>

					<div class="col text-warning"> <5 </div>
					<div class="col text-warning"> 5< </div>
					<div class="col text-warning"> 5< </div>
				</div>	</button></div>

		{# marche 2 #}
			<div class="col"><button type="submit" name="marche" value="marche2" class="btn btn-outline-primary">marché 2
				<div class="row row-cols-3"> 
					<div class="col text-muted"> 3< </div> 
					<div class="col text-muted"> 3< </div>	
					<div class="col text-muted"> 3< </div> 

					<div class="col text-primary"> <4 </div>
					<div class="col text-primary"> A </div>
					<div class="col text-warning"> <6 </div>

					<div class="col text-warning"> <6 </div>
					<div class="col text-warning"> 6< </div>
					<div class="col text-warning"> 6< </div>
				</div>	</button></div>

		{# marche 3 #}
			<div class="col"><button type="submit" name="marche" value="marche3" class="btn btn-outline-primary">marché 3
				<div class="row row-cols-3"> 
					<div class="col text-muted"> <4 </div> 
					<div class="col text-muted"> 4<5 </div>	
					<div class="col text-muted"> 4<5 </div> 

					<div class="col text-primary"> A </div>
					<div class="col text-warning"> 3 </div>
					<div class="col text-warning"> 4 </div>

					<div class="col text-warning"> 5< </div>
					<div class="col text-warning"> 5< </div>
					<div class="col text-warning"> 5< </div>
				</div>	</button></div>

		{# marche 4 #}
			<div class="col"><button type="submit" name="marche" value="marche4" class="btn btn-outline-primary">marché 4 	
				<div class="row row-cols-3"> 
					<div class="col text-muted"> <4 </div> 
					<div class="col text-muted"> A </div>	
					<div class="col text-muted"> A </div> 

					<div class="col text-primary"> <4 </div>
					<div class="col text-primary"> 4< </div>
					<div class="col text-primary"> A </div>

					<div class="col text-warning"> <5 </div>
					<div class="col text-warning"> 5< </div>
					<div class="col text-warning"> A </div>
				</div>	</button></div>

		{# marche 5 #}
			<div class="col"><button type="submit" name="marche" value="marche5" class="btn btn-outline-primary">marché 5
				<div class="row row-cols-3"> 
					<div class="col text-muted"> 2 </div> 
					<div class="col text-muted"> 3 </div>	
					<div class="col text-muted"> 4 </div> 

					<div class="col text-muted"> 5 </div>
					<div class="col text-primary"> A </div>
					<div class="col text-warning"> 4 </div>

					<div class="col text-warning"> 5 </div>
					<div class="col text-warning"> 6 </div>
					<div class="col text-warning"> 6< </div>
				</div>	</button></div>

		{# marche 6 #}
			<div class="col"><button type="submit" name="marche" value="marche6" class="btn btn-outline-primary">marché 6
				<div class="row row-cols-3"> 
					<div class="col text-muted"> 3 </div>
					<div class="col text-muted"> 4 </div>	
					<div class="col text-primary"> <4 </div> 

					<div class="col text-primary"> 4< </div>
					<div class="col text-primary"> A </div>
					<div class="col text-warning"> 3<4 </div>

					<div class="col text-warning"> 5<6 </div>
					<div class="col text-warning"> 5<6 </div>
					<div class="col text-warning"> 6< </div>
				</div>
			</button></div>

		</div>
	</form>
</div> 

{% endblock %}
